In [99]:
import pandas as pd

Generic functional form

def select_columns(data_frame, column_names):
    new_frame = data_frame.loc[:, column_names]
    return new_frame
Specific for your problem above

selected_columns = ['A', 'C', 'D']
new = select_columns(old, selected_columns)

In [100]:
data = pd.read_csv("coloumn_converted.csv")

In [101]:
data.head()

,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding
0,Special Teacher,Teaching,Education,5685,NaN,NaN,NaN,NaN,NaN,NaN
1,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,BBA fresher
2,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,assembly
3,Compensation,Benefits,HR Functions,Alm,Payroll,ESS,Core HR,QC,QA,SQL
4,Storage Administrator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
data.columns

Index(['Unnamed: 0', 'HR Executive', 'screening', 'selection', 'Interview',
       'HR', 'Recruiter', 'IT Recruiter', 'Sourcing', 'recruitment executive',
       'onboarding'],
      dtype='object')

In [102]:
data.head()

,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding
0,Special Teacher,Teaching,Education,5685,NaN,NaN,NaN,NaN,NaN,NaN
1,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,BBA fresher
2,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,assembly
3,Compensation,Benefits,HR Functions,Alm,Payroll,ESS,Core HR,QC,QA,SQL
4,Storage Administrator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
data.describe()

,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding
count,49943,46603,44145,41512,38383,34945,31537,28195,25123,22079
unique,16614,17380,17158,15820,14310,12566,11132,9966,9148,8309
top,development,Communication Skills,Java,Java,Javascript,Javascript,Javascript,Web Technologies,Web Technologies,Web Technologies
freq,975,328,297,264,252,211,179,192,187,181

In [38]:
data['HR Executive'].isnull().value_counts()

False    49943
True        56
Name: HR Executive, dtype: int64

In [48]:
data['HR Executive'].describe()

count           49943
unique          16614
top       development
freq              975
Name: HR Executive, dtype: object

In [ ]:
def cleaner(instance):
    name = instance
    name = str(name).lower()
    # name = re.sub(r'\s*$', ' ', name)
    name = re.sub(r' ', ' ', name) #Remove multiple spaces with single space
    name = re.sub(r'^s/o ', '', name) # remove starting 's/o'
    name = re.sub(r'^mr', '', name) # remove starting 'mr'
    name = re.sub(r'[0-9]', '', name) #Remove Numbers
    name = re.sub(r'[/]', '', name) #Remove Numbers
    # name = re.sub(r'@[a-zA-Z0-9-]+\.[a-zA-Z0-9-._]+', '', name) #Convert email to name
    name = " ".join(name.split(".")) # Remove dot from the instances
    name = ' '.join( [w for w in name.split() if len(w)>2] )# Remove single and double characters.

    return name

In [62]:
cleaner(data['HR Executive'])

'special teacher consulting diploma compensation storage administrator chief engineer receptionist activities sql queries quality analyst name: executive, length: dtype: object'

In [103]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
import re
nltk.download('wordnet') 

class CLeanText():

    def cleaner(instance, preclean=True, city = False, 
                lowerall=False, removespaces=False, 
                nonum=False, onlychar=False, 
                notitle=False, onlymorethan5char=False, 
                stem=False, lemma=False):


        '''
                Text , preclean=True, city = False, 

                lowerall=False, removespaces=False,
                
                nonum=False, onlychar=False, 
                
                notitle=False, onlymorethan5char=False, 

                stem=False, lemma=False


                Uses NLTK 
        '''
        text = instance

        if lowerall == True:
            text = str(text).lower()

        if removespaces == True:
            text = re.sub(r"\t+", "\t",text)
            text = re.sub(r" +", " ",text)           #Remove multiple spaces with single space 
            text = re.sub(r"\n +", "\n",text)
            text = re.sub(r"\n+", "\n",text)

        if preclean ==True:

            text = re.sub('[^a-zA-Z0-9,+@\./-_]', ' ', text)
            text = re.sub("\s\s+", " ", text)

        if nonum ==True:
            text = re.sub(r'[0-9]', None, text)       #Remove Numbers

        
        if onlychar ==True:
            text = re.sub(r'[^a-zA-Z ]+',"",text)
        
        
        if notitle ==True:
            text = re.sub(r'^s/o ', '', text)       # remove starting 's/o'    
            text = re.sub(r'^Mr', '', text)         # remove starting 'Mr'
            text = re.sub(r'^Mrs', '', text)        # remove starting 'Mrs'
            text = re.sub(r'^Ms', '', text)         # remove starting 'Ms'
            text = re.sub(r'^Dr', '', text)         # remove starting 'Dr'
        
        if onlymorethan2char ==True:
            text = re.sub(r'\b\w{1,2}\b',"",text)   # Remove Character less than Four    
        

        if stem ==True:
            #Stem the word to its root
            ps = PorterStemmer()
            text = ps.stem(text) 


        if lemma ==True:
            lemmatizer = WordNetLemmatizer()
            text = lemmatizer.lemmatize(text)   
        
        return text

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [107]:
CLeanText = cleaner(data)

In [108]:
print(CLeanText)

executive screening selection special teacher teaching education consulting fresher helpdesk diploma machining cnc compensation benefits functions storage administrator nan nan chief engineer nan nan receptionist activities front desk front office sql queries log analysis hardware networking quality analyst nan nan payroll interview nan techincal troubleshooting international voice mould conventional machines alm payroll nan nan nan nan front desk executive front office executive people leadership technical skills nan nan sap hcm recruiter recruiter nan nan international bpo technical support die making knowledge ess core nan nan nan nan receptionist reception unix oracle nan nan organizational management recruitment sourcing recruitment executive nan nan outsourcing call center tool cipet nan nan nan nan nan nan service delivery management database administration nan nan schema functional consultancy onboarding nan bba fresher assembly sql nan nan nan continuous improvement nan nan rows columns]

In [109]:
data.head()

,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding
0,Special Teacher,Teaching,Education,5685,NaN,NaN,NaN,NaN,NaN,NaN
1,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,BBA fresher
2,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,assembly
3,Compensation,Benefits,HR Functions,Alm,Payroll,ESS,Core HR,QC,QA,SQL
4,Storage Administrator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
data['HR_updated'] = data['HR'].dropna()

In [119]:
data['HR Executive'].isnull().value_counts()

False    49943
True        56
Name: HR Executive, dtype: int64

In [133]:
data['HR_Executive_up'] = data['HR Executive'].dropna()

In [125]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
import re
nltk.download('wordnet') 

class CLeanText():

    def cleaner(instance, preclean=True, city = False, 
                lowerall=False, removespaces=False, 
                nonum=False, onlychar=False, 
                notitle=False, onlymorethan5char=False, 
                stem=False, lemma=False):


        '''
                Text , preclean=True, city = False, 

                lowerall=False, removespaces=False,
                
                nonum=False, onlychar=False, 
                
                notitle=False, onlymorethan5char=False, 

                stem=False, lemma=False


                Uses NLTK 
        '''
        text = instance

        if lowerall == True:
            text = str(text).lower()

        if removespaces == True:
            text = re.sub(r"\t+", "\t",text)
            text = re.sub(r" +", " ",text)           #Remove multiple spaces with single space 
            text = re.sub(r"\n +", "\n",text)
            text = re.sub(r"\n+", "\n",text)

        if preclean ==True:

            text = re.sub('[^a-zA-Z0-9,+@\./-_]', ' ', text)
            text = re.sub("\s\s+", " ", text)

        if nonum ==True:
            text = re.sub(r'[0-9]', '', text)       #Remove Numbers

        
        if onlychar ==True:
            text = re.sub(r'[^a-zA-Z ]+',"",text)
        
        
        if notitle ==True:
            text = re.sub(r'^s/o ', '', text)       # remove starting 's/o'    
            text = re.sub(r'^Mr', '', text)         # remove starting 'Mr'
            text = re.sub(r'^Mrs', '', text)        # remove starting 'Mrs'
            text = re.sub(r'^Ms', '', text)         # remove starting 'Ms'
            text = re.sub(r'^Dr', '', text)         # remove starting 'Dr'
        
        if onlymorethan2char ==True:
            text = re.sub(r'\b\w{1,2}\b',"",text)   # Remove Character less than Four    
        

        if stem ==True:
            #Stem the word to its root
            ps = PorterStemmer()
            text = ps.stem(text) 


        if lemma ==True:
            lemmatizer = WordNetLemmatizer()
            text = lemmatizer.lemmatize(text)   
        
        return text

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\codiant\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [137]:
data.loc[:,"HR_Executive_up"] = data.HR_Executive_up.apply(lambda x: cleaner(x))

In [138]:
data.loc[:,"HR"] = data.HR.apply(lambda x: cleaner(x))

In [139]:
data.head()

,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding,HR_updated,HR Executive_up,cleaned_text,HR_Executive_up
0,Special Teacher,Teaching,Education,5685,nan,NaN,NaN,NaN,NaN,NaN,NaN,Special Teacher,special teacher consulting diploma compensatio...,special teacher
1,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,BBA fresher,international voice,consulting,special teacher consulting diploma compensatio...,consulting
2,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,assembly,conventional machines,diploma,special teacher consulting diploma compensatio...,diploma
3,Compensation,Benefits,HR Functions,Alm,payroll,ESS,Core HR,QC,QA,SQL,Payroll,Compensation,special teacher consulting diploma compensatio...,compensation
4,Storage Administrator,NaN,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,Storage Administrator,special teacher consulting diploma compensatio...,storage administrator